.geral {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    color: #000000;
    text-decoration: none;
    background-color: white;
    text-align: justify;
    vertical-align: middle;
    word-spacing: normal;
    white-space: normal;
}

img#imgcabecalho{
    position: absolute;
    margin-left: 980px;
    margin-top: 70px;
}

div#cabecalho p#p1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23pt;
    color: #696969;
    margin-left: 50px;
    margin-top: 50px;
}

div#cabecalho p#p2{
    margin-top: -45px;
    margin-left: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #363636;
}

div#cabecalho img{
    margin-left: 35px;
}

.formlogin {
    margin-top: 1%;
    margin-left: 28%;	
    background-color: white;
    width: 700px;
    height: 490px;
}

input[type=text] {
    margin-top: 5px;
    width: 500px;
    height: 40px;
    background-color: white;
    padding: 5px 10px;   
    border-color: #BEBEBE;
    border-radius: 2px;
    font-size: 13pt;
}

input[type=password] {
    margin-top: 5px;
    width: 500px;
    height: 40px;
    background-color: white;
    padding: 5px 10px;
    border-color: #BEBEBE;
    border-radius: 2px;
    font-size: 13pt;
}

input[type=button], input[type=submit], input[type=reset] {
    width: 500px;
    background-color: #4169E1;
    border: none;
    font-size: 13pt;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.formlogin div {
    margin-top: 15px;
}

.formlogin h1 {
    margin-left: 220px;
}

.dica {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: lighter;
    color: #000000;
    height: auto;
    width: auto;
    display: none;
    position: absolute;
    top: 59%;
    left: 30.5%;
}
.margem {
    margin: 20px;        
}
.cxtext {
    border: 1px solid #000000;
    background-color: #C0C0C0;
}

img#rodape {
    margin-left: 520px;
    width: 200px;
    height: 50px;
}